<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Product</title>
    </head>
    <body>
        <h1>All Product</h1>
        <form action="/search" method="post">
            <input type="text" name="txtSearch">
            <input type="submit" value="Search">
        </form>
        <ul>
            {{#each products}}
            <li> {{name}} - {{price}} <a href="/delete?id={{_id}}" onclick="return confirm('Are you sure to delete?">Delete</a>
            <div>
                <img src="{{picURL}}" width="150" height="100">
            </div>
            <div>
                <a href="/edit?id={{_id}}">Edit</a>
            </div>    
            </li>
            {{/each}}
        </ul>
        <a href="/viewAll?page=1">Page 1</a> | <a href="/viewAll?page=2">Page 2</a>
        <a href="/viewAll">All</a>
    </body>
</html>